<!--<div class="card col-7 mx-auto">
    <div class="card-body">
        <div>
            <div class="title">News about {{data.name}}</div>
            <mat-icon class="page-title" color="black">article</mat-icon>
        </div>
        <form [formGroup] = "newsForm" (ngSubmit) = "onSubmit()">
            <div class="form-group">
                <mat-form-field appearance="fill" class="form-field">
                    <input matInput placeholder="Input text . . ." formControlName ="text" class="text-box">
                    <mat-error *ngIf="newsForm.get('text')?.invalid">{{getTextErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field appearance="fill" class="form-field">
                    <input matInput formControlName ="images" type="file" (change)="onFileChange($event)">
                </mat-form-field>
            </div>
            <div>
                <cdk-virtual-scroll-viewport itemSize="50" orientation="horizontal">
                    <div *cdkVirtualFor="let image of comment.images" >
                      <img [src]="imageSrc" *ngIf="imageSrc" class="example-item" id="image._id"/>
                    </div>
                  </cdk-virtual-scroll-viewport>
            </div>
            <div>
                <button
                    class="btn btn-theme"
                    type="submit"
                    [disabled] = "newsForm.invalid"
                >
                    Add news
                </button>
                <button
                    class="btn btn-theme"
                    (click)="cancelForm($event)"
                >
                    Cancel
                </button>
            </div>
        </form>
    </div>
</div>-->