@import "../../../styles.sass"

.rating
    text-align: right

.view-cultural-site
    margin: 10px

.description
    white-space: pre-wrap
    margin-left: 3px

.type-comment
    width: 100%

.cdk-virtual-scroll-viewport
  overflow-y: hidden
  overflow: scroll
  -webkit-overflow-scrolling: touch
  display: flex
  flex-direction: row
  writing-mode: vertical-lr
  height: 70px
  width: 50%

.example-item 
  height: 40px
  width: 40px
  margin: 5px

.image-preview
    height:50
    width:80px
    margin: 3px