<form [formGroup] = "newCulturalSiteForm" >
    <div class="form-group">
        <mat-form-field appearance="fill" class="form-field">
            <mat-label>Enter cultural site name</mat-label>
            <input matInput placeholder="Kulturno mesto" formControlName ="name">
            <mat-error *ngIf="newCulturalSiteForm.get('name')?.invalid">{{getRequiredFieldErrorMessage('name')}}</mat-error>
        </mat-form-field>
    </div>
    <div class="form-group">
        <mat-form-field appearance="fill" class="form-field">
            <mat-label>Enter cultural site address</mat-label>
            <input matInput placeholder="Ulica Ime 1" formControlName ="address">
            <mat-error *ngIf="newCulturalSiteForm.get('address')?.invalid">{{getRequiredFieldErrorMessage('address')}}</mat-error>
        </mat-form-field>
    </div>
    <div class="form-group">
        <mat-form-field appearance="fill" class="form-field">
            <mat-label>Enter cultural site description</mat-label>
            <textarea class="textBox" matInput placeholder="Opis" formControlName ="description"> </textarea>
        </mat-form-field>
    </div>
    <div class="form-group">
        <mat-form-field appearance="fill" class="form-field">
            <mat-label>Category</mat-label>
            <mat-select [(value)] = "category" >
                <mat-option *ngFor="let category of allCategories" [value]="category" (click)="categoryChange()">{{category}}</mat-option>
            </mat-select>
            <mat-error *ngIf="newCulturalSiteForm.get('category')?.invalid">{{getRequiredFieldErrorMessage('category')}}</mat-error>
        </mat-form-field>
    </div>

    <div class="form-group">
        <mat-form-field appearance="fill" class="form-field">
            <mat-label>{{category}} type</mat-label>
            <mat-select [(value)] = "type">
                <mat-option>None</mat-option>
                <mat-option *ngFor="let type of allCategoryTypes" [value]="type">{{type}}</mat-option>
            </mat-select>
            <mat-error *ngIf="newCulturalSiteForm.get('type')?.invalid">{{getRequiredFieldErrorMessage('type')}}</mat-error>
        </mat-form-field>
    </div>

</form>