<form [formGroup]="editForm" (ngSubmit)="onSubmit()">
    <div class="mat-subheading-2">Edit {{ entity }} </div>
    
    <mat-form-field>
      <input matInput formControlName="editField" name="edit" [(ngModel)]="edit">
      <mat-error *ngIf="editForm.get('editField')?.invalid">{{ getEditErrorMessage() }}</mat-error>
    </mat-form-field>

    <div class="actions">
      <button mat-button type="button" color="primary" (click)="onCancel()">Cancel</button>
      <button mat-button type="submit" color="primary" [disabled]="editForm.invalid">Save</button>
    </div>
</form>