<h2 mat-dialog-title>Add news about {{data.culturalSite.name}}</h2>

<mat-dialog-content>
    <form [formGroup]="newsForm" (ngSubmit)="onSubmit($event)">
        <div class="form-group">
            <input type="text" placeholder="Input text..." class="type-comment"
            formControlName="text"/>
        </div>
        <div class="form-group">
            <label for="file">File</label>
            <input 
                formControlName="file"
                id="file" 
                type="file" 
                class="form-control"
                multiple="" 
                (change)="onFileChange($event)">
        </div>
        <img *ngFor='let url of images'  [src]="url" class="image-preview"> <br/>
        <button class="btn btn-primary" type="submit">Submit</button>
        <button class="btn btn-primary" (click)="close()" type="button">Cancel</button>
    </form>
</mat-dialog-content>
