<h2 mat-dialog-title>Add news about {{data.culturalSite.name}}</h2>

<mat-dialog-content>
    <form [formGroup]="newsForm" (ngSubmit)="onSubmit()">
        <mat-form-field id="text-input" appearance="fill" class="form-field">
            <mat-label>News content</mat-label>
            <input type="text" id="text-input-field" matInput formControlName="text" placeholder="Input content...">
            <mat-error id = "name-error" *ngIf="newsForm.get('text')?.invalid">{{getTextErrorMessage()}}</mat-error>
        </mat-form-field>
        <div class="form-group file-form">
            <label for="file" class="file-title">File</label>
            <input 
                id="file" 
                type="file" 
                class="form-control"
                multiple="" 
                formControlName="photos"
                (change)="onFileChange($event)">
        </div>
        <img *ngFor='let url of images'  [src]="url" class="image-preview"> <br/>
        <button 
            id = "submit-new-news-btn"
            mat-raised-button class="btn btn-purple" 
            type="submit"
            [disabled]="newsForm.invalid">
            Create
        </button>
        <button mat-raised-button class="btn btn-purple separate" (click)="close()" type="button">Cancel</button>
    </form>
</mat-dialog-content>
