<div class="comment" *ngIf="activeComment">
  <div class="row">
    <div class="col comment-author">{{comment.name}} {{comment.surname}}:</div>
    <div class="col" *ngIf="activeComment && userComment">
      <button mat-icon-button color="primary" (click)="editComment()" id="edit-btn">
        <mat-icon>create</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="deleteComment()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
  <div class="comment-about">about {{comment.culturalSiteName}}</div>
  <div class="comment-text" *ngIf="!editing">{{comment.text}}</div>
  <div *ngIf="editing">
    <form (ngSubmit)="saveComment($event)">
      <input id = "edit-comment-input" type="text" [value]="inputText" name="inputText">
      <button id = "save-comment" mat-icon-button type="submit">
        <mat-icon>save</mat-icon>
      </button>
    </form>
  </div>
  <div class="comment-images" *ngIf="comment.images.length > 0">
    <ng-image-slider
      [images]="commentImageSlider"
      [infinite]="false"
      slideImage="1">
    </ng-image-slider>
  </div>
  <mat-divider></mat-divider>
</div>