<div class="main-div">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{ news.culturalSiteName }}</mat-card-title>
          <mat-card-subtitle>{{ news.dateTime | date:'medium'}}</mat-card-subtitle>
        </mat-card-header>
        <cdk-virtual-scroll-viewport itemSize="100" orientation="horizontal">
          <div *cdkVirtualFor="let image of news.images" >
            <img src="data:image/png;base64,{{image.content}}" class="example-item" id="image._id" alt="proba">
          </div>
        </cdk-virtual-scroll-viewport>
        <mat-card-content>
          <p>
            {{ news.information }}
          </p>
        </mat-card-content>
    </mat-card>
</div>
