.example-card
  max-width: 600px

.example-header-image 
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg')
  background-size: cover

.main-div
  height: 100vh
  display: flex
  justify-content: center
  align-items: center
  

.example-item 
  height: 100%
  width: 100%
  margin: 5px


.cdk-virtual-scroll-viewport
  overflow-y: hidden
  overflow: scroll
  -webkit-overflow-scrolling: touch
  display: flex
  flex-direction: row
  writing-mode: vertical-lr
  height: 400px
  width: 400px