$primary-font: Segoe UI, sans-serif
$primary-background: #aae0f9
$lighter-primary: rgb(170, 224, 249, 0.4)
$light-primary: rgb(170, 224, 249, 0.2)
$secondary-background: #b8d7d2
$lighter-secondary: rgb(184, 215, 210, 0.4)
$light-secondary: rgb(184, 215, 210, 0.06)

body
    background-color: $light-secondary !important

.flag
    font-family: $primary-font
    &.red
        color: #c63238
    &.blue
        color: #043e77
    &.white
        color: white

.btn-theme
    background-color: $primary-background !important

button
    border-width: 0px !important

.form-field
    min-width: 250px
form
    text-align: center
.card
    background-color: transparent
.card-body
    padding: 2.25rem

.mat-tab-label, .mat-tab-link
    font-size: 18px
    font-weight: 550

.toast-custom
    top: 50px
    right: 5px

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap'
