$primary-font: Segoe UI, sans-serif
$primary-background: #aae0f9

.flag
    font-family: $primary-font
    &.red
        color: #c63238
    &.blue
        color: #043e77
    &.white
        color: white