<div class="container">
  <div class="row">
    <div class="col-md-6 align-self-center">
      <img src="../../assets/images/lost.png" alt="Lost">
    </div>
    <div class="col-md-6 align-self-center">
      <h1>404</h1>
      <h2>UH OH! You're lost. Seems like you drifted far away from Serbia!</h2>
      <p>The page you are looking for does not exist.
        How you got here is a mystery. But you can click the button below
        to go back to the homepage.
      </p>
      <button class="btn btn-theme" (click) = "onHome()">HOME</button>
    </div>
  </div>
</div>