<div id="pending-comments-page">
  <div class="container">
    <div class="row">
      <div class="page-title">Reviews</div>
      <mat-icon class="page-title" color="black">comment</mat-icon>
    </div>
    <div *ngIf="commentsData.content.length > 0; then showComments else noComments"></div>
    <ng-template #showComments>
      <mat-list-item *ngFor="let comment of commentsData.content">
        <app-approve-comment [comment]="comment"></app-approve-comment>
      </mat-list-item>
      <!--pomeriti paginator gore mozda?-->
      <mat-paginator id="pending-comments-paginator"
          [length]="commentsData.totalElements" 
          [pageSize]="commentsData.size" 
          [pageSizeOptions]="[2,5,10]"
          (page)="pageEvent = $event; onPaginateChange($event)">
      </mat-paginator>
    </ng-template>
    <ng-template #noComments>
      <div class="page-description">
        No pending comments, you made it!
      </div>
      <div class="page-secret">
        You should probably go home now...
      </div>
    </ng-template>
  </div>
</div>