<form [formGroup] = "registerForm" (ngSubmit) = "onSubmit()">
    <div class="form-group">
        <mat-form-field appearance="fill">
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="something@example.com" formControlName ="email">
            <mat-error *ngIf="registerForm.get('email')?.invalid">{{getEmailErrorMessage()}}</mat-error>
          </mat-form-field>
    </div>
    <div class="form-group password-field">
        <mat-form-field appearance="fill">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'"  formControlName ="password">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="registerForm.get('password')?.invalid">{{getRequiredFieldErrorMessage('password')}}</mat-error>
          </mat-form-field>
    </div>
    <div class="form-group">
        <mat-form-field appearance="fill">
            <mat-label>Repeat entered password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'"  formControlName ="confirmPassword">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="registerForm.get('confirmPassword')?.invalid">{{getRequiredFieldErrorMessage('confirmPassword')}}</mat-error>
            <mat-error *ngIf="registerForm.hasError('passwordsDontMatch')">{{getPasswordsMatch()}}</mat-error>
          </mat-form-field>
    </div>
    <div class="form-group">
        <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput formControlName ="name">
            <mat-error *ngIf="registerForm.get('name')?.invalid">{{getRequiredFieldErrorMessage('name')}}</mat-error>
          </mat-form-field>
    </div>
    <div class="form-group">
        <mat-form-field appearance="fill">
            <mat-label>Surname</mat-label>
            <input matInput formControlName ="surname">
            <mat-error *ngIf="registerForm.get('surname')?.invalid">{{getRequiredFieldErrorMessage('surname')}}</mat-error>
          </mat-form-field>
    </div>
    <div>
        <button
            class="btn btn-theme"
            type="submit"
            [disabled] = "registerForm.invalid"
        >
            Register
        </button>
    </div>
</form>
