@import "../../../styles.sass"

mat-toolbar
  background: $primary-background

span.logo
  color: $primary-background

button
  font-size: larger

.mat-icon
  height: 40px
  width: 40px
  line-height: 40px 