@import "../../../styles.sass"

mat-toolbar
  background: $primary-background

span.logo
  color: $primary-background

button
  font-size: larger

.logout-span
  flex: 1 1 auto !important

.mat-icon
  height: 40px
  width: 40px
  line-height: 40px 