<mat-toolbar>
    <button mat-icon-button aria-label="Home icon-button with logo"
        (click)="onHome()">
    <a>
        <span class="flag red">Serb</span>
        <span class="flag blue">io</span>
        <span class="flag white">neer</span>
        <span class="logo">s</span>
    </a>
        <mat-icon svgIcon="logo"></mat-icon>
    </button>
    <span class="logout-span"></span>
    <button mat-raised-button color="primary" type="button" (click)="logout()">Logout</button>
    
    
    
</mat-toolbar>