<form [formGroup] = "newCulturalSiteForm" (ngSubmit) = "onSubmit()">
    <div class="row justify-content-md-center">
        <div class="col-md-8 add-box">
            <h2>Add new cultural site</h2>
            <div class="row justify-content-md-center">
                <div class="col-md-5">
                    <div class="form-group">
                        <mat-form-field appearance="fill" class="form-field">
                            <mat-label>Cultural site name</mat-label>
                            <input matInput placeholder="Ex. Exit" formControlName ="name">
                            <mat-error *ngIf="newCulturalSiteForm.get('name')?.invalid">{{getRequiredFieldErrorMessage('name')}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <mat-form-field appearance="fill" class="form-field">
                            <mat-label>Cultural site address</mat-label>
                            <input matInput placeholder="Ex. Vojvode Mišića 23, Šabac" formControlName ="address">
                            <mat-error *ngIf="newCulturalSiteForm.get('address')?.invalid">{{getRequiredFieldErrorMessage('address')}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <mat-form-field appearance="fill" class="form-field">
                            <mat-label>Cultural site description</mat-label>
                            <textarea class="textBox" matInput placeholder="Description" formControlName ="description"> </textarea>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <mat-form-field appearance="fill" class="form-field">
                            <mat-label>Cultural site category</mat-label>
                            <mat-select formControlName="category"
                                (selectionChange)="categoryChange($event)">
                                <mat-option *ngFor="let category of allCategoriesModel" [value]="category.id">{{category.name}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="newCulturalSiteForm.get('category')?.invalid">{{getRequiredFieldErrorMessage('category')}}</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="form-group">
                        <mat-form-field appearance="fill" class="form-field">
                            <mat-label>{{categoryModel.name}} type</mat-label>
                            <mat-select formControlName="categoryType">
                                <mat-option *ngFor="let categoryType of allCategoryTypesModel" [value]="categoryType.id">{{categoryType.name}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="newCulturalSiteForm.get('categoryType')?.invalid">{{getRequiredFieldErrorMessage('categoryType')}}</mat-error>
                        </mat-form-field>
                    </div>

                    <div class="form-group">
                        <mat-form-field appearance="fill" class="form-field">
                            <mat-label>Latitude</mat-label>
                            <input matInput placeholder="Ex. 45" formControlName ="lat">
                        </mat-form-field>
                    </div>

                    <div class="form-group">
                        <mat-form-field appearance="fill" class="form-field">
                            <mat-label>Longitude</mat-label>
                            <input matInput placeholder="Ex. 20.5" formControlName ="lng">
                        </mat-form-field>
                    </div>

                    <!-- <div class="form-group">
                        <mat-form-field appearance="fill" class="form-field">
                            <mat-label>City</mat-label>
                            <input matInput placeholder="Ex. Niš" formControlName ="city">
                        </mat-form-field>
                    </div> -->
                </div>
            </div>
            <div class="row justify-content-md-center">
                <button
                    class="btn btn-theme"
                    type="submit"
                    [disabled] = "newCulturalSiteForm.invalid"
                >
                    Create
                </button>
            </div>
        </div>
    </div>
</form>