<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <h2 class="title">Cultural site categories</h2>
            <div class="row">
                <div class="col-md-6">
                    <table mat-table [dataSource]="categoryDataSource.content">
                        <!-- No data row -->
                        <tr class="mat-row" *matNoDataRow>
                            <td class="mat-cell" colspan="2">No existing categories.</td>
                        </tr>
                        <!-- Header tabele -->
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let category; columns: displayedColumns;"></tr>
                        <!-- Dinamicke kolone (ime) -->
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> Category name </th>
                            <td mat-cell *matCellDef="let category" (click)="chooseCategory(category)" class="choose-cat"> {{ category.name }} </td>
                        </ng-container>
                        <!-- Staticke kolone (akcije) -->
                        <ng-container matColumnDef="actions">
                            <th mat-header-cell *matHeaderCellDef> Actions </th>
                            <td mat-cell *matCellDef="let category">
                                <button class="btn" [satPopoverAnchor]="editPopover" (click)="editPopover.toggle()"><i class="material-icons">edit</i></button>
                                <sat-popover #editPopover
                                    true
                                    xAlign="after"
                                    (closed)="updateCategory(category, $event)">
                                    <app-inline-edit [value]="category.name" [entity]="categoryEntity"></app-inline-edit>
                                </sat-popover>
                                <button class="btn" (click)="confirmDeleteCategory(category)"><i class="material-icons">delete</i></button>
                            </td>
                        </ng-container>
                    </table>
                    <mat-paginator showFirstLastButtons
                        [length]="categoryDataSource.totalElements" 
                        [pageSize]="categoryDataSource.size" 
                        [pageSizeOptions]="[2,5,10]"
                        (page)="categoryPageEvent = $event; onCategoryPaginateChange($event)"
                    ></mat-paginator>
                </div>
                <div class="col-md-6">
                    <form [formGroup]="addCategoryForm" #categoryFormDirective="ngForm" (ngSubmit)="onAddCategory(categoryFormDirective)">
                        <mat-form-field appearance="fill" class="form-field">
                            <mat-label>Add new cultural site category</mat-label>
                            <input matInput formControlName="name">
                            <mat-error *ngIf="addCategoryForm.get('name')?.invalid">{{ getCategoryNameErrorMessage() }}</mat-error>
                        </mat-form-field>
                        <button mat-raised-button [disabled]="addCategoryForm.invalid" class="btn btn-purple">
                            Add category
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <mat-divider [vertical]="true"></mat-divider>
        <div class="col-md-5">
            <app-types [chosenCategory]="chosenCategory">
            </app-types>
        </div>
    </div>
</div>