<div class="row">
    <div class="col-10">
      <div class="comment-item">
        <div class="vertical-viewport">
          <div class="author">{{comment.name}} {{ comment.surname}}:</div>
          <div>{{comment.culturalSiteName}}</div>
          <div>{{comment.text}}</div>
          <div class="comment-image-content" *ngIf="comment.images.length > 0">
            <ng-image-slider
              [images]="imageSlider"
              [infinite]="false"
              slideImage="1">
            </ng-image-slider>
          </div>
        </div>
      </div>
    </div>
    <div class="col comment-button">
      <button mat-icon-button (click)="approveComment()" id="approve-comment-{{comment.id}}">
        <mat-icon class="green-icon">done</mat-icon>
      </button>
    </div>
    <div class="col comment-button">
      <button mat-icon-button color="warn" (click)="declineComment()" id = "reject-comment-{{comment.id}}">
        <mat-icon>clear</mat-icon>
      </button>
    </div>
  </div>
  <mat-divider class="comment-divider"></mat-divider>
