<div class="card col-7 mx-auto">
    <div class="card-body align">
        <h2>Change password</h2>
        <form id = "change-password-form" [formGroup] = "changePasswordForm" (ngSubmit) = "onSubmit()">
            <div class="form-group">
                <mat-form-field id = "oldPassword-form-field" appearance="fill" class="form-field">
                    <mat-label>Enter your old password</mat-label>
                    <input id = "old-password" matInput [type]="hide ? 'password' : 'text'"  formControlName ="oldPassword">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error id = "oldPass-error" *ngIf="changePasswordForm.get('oldPassword')?.invalid">{{getRequiredFieldErrorMessage('oldPassword')}}</mat-error>
                </mat-form-field>
            </div>
            <div formGroupName="passwordGroup">
                <div class="form-group">
                    <mat-form-field id = "newPassword-form-field" appearance="fill" class="form-field">
                        <mat-label>Enter your new password</mat-label>
                        <input id = "new-password" matInput [type]="hide ? 'password' : 'text'"  formControlName ="password">
                        <button id = "show-pass" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error id = "newPass-error" *ngIf="changePasswordForm.controls.passwordGroup.get('password')?.invalid">{{getPasswordRequiredFieldErrorMessage('password')}}</mat-error>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field id = "repeatPassword-form-field" appearance="fill" class="form-field">
                        <mat-label>Repeat entered password</mat-label>
                        <input id = "repeat-password" matInput [type]="hide ? 'password' : 'text'"  formControlName ="confirmPassword"
                            [errorStateMatcher]="confirmPasswordMatcher">
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                        </button>
                        <mat-error id = "repeatPass-error" *ngIf="changePasswordForm.controls.passwordGroup.get('confirmPassword')?.invalid">{{getPasswordRequiredFieldErrorMessage('confirmPassword')}}</mat-error>
                        <mat-error id = "passwords-error" *ngIf="changePasswordForm.controls.passwordGroup.hasError('passwordsDontMatch')">{{getPasswordsMatch()}}</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div>
                <button
                    id = "save-password-btn"
                    class="btn btn-purple"
                    type="submit"
                    [disabled] = "changePasswordForm.invalid"
                >
                    Save
                </button>
            </div>
        </form>
    </div>
</div>